{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <article class='content-container'>
	<h1 class="main-title">{{ self.title }}</h1>
	{% for blog in blogs.all %}
		<a class='listing-links' href='{% pageurl blog.specific %}'>
		<h2>{{ blog.title }}</h2>
		 <p class="meta">{{ blog.date }}</p>
		{% if blog.listing_intro %}
			{{ blog.listing_intro|richtext}}
		{% endif %}
		</a>
		<hr />
	{% endfor %}
	</article>
{% endblock %}
