{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<h1 class="article-title homepage-title"><a href='/'>{{ self.title }}</a></h1>
	{% if self.subtitle %}
  <h3 class='article-subtitle homepage-subtitle'>{{ self.subtitle }}</h3>
  {% endif %}
	{% for blog in blogs.all %}
	<div class='link-container homepage-link-container'>
		<a class='listing-links' href='{% pageurl blog.specific %}'>
		<h2>{{ blog.title }}</h2>
		 <p class="meta">{{ blog.date }}</p>
		{% if blog.listing_intro %}
			{{ blog.listing_intro|richtext}}
		{% endif %}
		</a>
	</div>
		
	{% endfor %}
	<!-- {{site.root}} -->
{% endblock %}
