Django==3.1.2
Jinja2
Markdown
MarkupSafe
Pillow>2.8.2
PyYAML
Pygments
Unidecode
Willow>0.2.2
beautifulsoup4==4.8
django-appconf
django-compressor
django-modelcluster
django-sendfile
django-taggit
django-treebeard
djangorestframework
elasticsearch
html5lib
httplib2
oauth2client
paramiko
postgres
psycopg2
psycopg2-binary
python-memcached
requests
rsa
simplejson
six
uritemplate
urllib3
wagtail
wagtailfontawesome
wheel
gunicorn
boto3
django-storages
django-bakery
wagtail-bakery
boto3