/* BASE */

body {
	font-size:18px;
}

/* LAYOUT */

#header {
	text-align: left;
}

.header-title {
	margin-left:10px;
	display: block;
}

.header-search {
	position: relative;
	margin-left: 10px;
	display: block;
}

/* TYPOGRAPHY */

.article-title {
	font-size:1.75em;
}

/* STREAMFIELD BLOCK STYLES */

.rich-text .right, .rich-text .left {
	width:100%;

}
