/* BASE STYLES */

body {
	font-size: 20px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;
	padding:0;
  background-color: #FFF;
}

p, li, a {
	font-size: 1.1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

h1, h2, h3, h4 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

h1 {
	color: #903;
}

p {
	line-height: 1.6em;
}

/* LAYOUT STYLES */

#header {
		text-align: center;
}

.header-search {
	position:absolute;
	top:0;
	right:0;
	padding-top:5px;
	padding-right:10px;
	text-align: left;
}

.header-title {
	display:inline-block;
	margin: 0;
	padding: 0;
}

#header a {
	text-decoration: none;
	color:grey;
}

#header a:hover {
	color:#903;
}

.header-bookmarks {
	position:relative;
	top:5px;
	left:0;
	padding-top:5px;
}

.header-bookmarks h3 {
	margin:0;
	padding:0;
	font-size:0.8em;
}

#content-container {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	max-width:750px;
	margin-bottom:50px;
}

/* TYPOGRAPHY */

.article-title {
	font-size:2.5em;
	margin-bottom:.1em;
}

.article-title.homepage-title {
	font-size:3em;
}

.article-title.homepage-title a {
	text-decoration: none;
	color:#903;
	font-size: 1em;
}

.article-subtitle {
	margin-top:0;
	font-size: 1.5em;
	color:#808080;
	font-weight:normal;
}

.article-subtitle.homepage-subtitle {
	margin-bottom:1.5em;
}

.article-intro {
	font-weight: bold;
}

.article-meta {
	font-style: italic;
	font-size:.9em;
}

.listing-links {
	text-decoration: none;
	color:#424242;
}

.listing-links:hover {
	color:#903;
}

.listing-links .meta {
	font-style:italic;
	line-height: 1em;
}

/* STREAMFIELD BLOCK STYLES */

.responsive-object {
	position: relative;
	padding-bottom: 56.25% !important;; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.responsive-object iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.rich-text {
	color:#333333;
}

.rich-text .left {
	width:40%;
	height:auto;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
}

.rich-text .right {
	width:40%;
	height:auto;
	float:right;
	margin-left:15px;
	margin-bottom:15px;
}

.full-width {
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

.codeblock {
	font-size:0.85em;
	font-family: monospace;
	padding:10px;
	background-color:green;
	opacity:1;
	overflow:scroll;
	color:#E6E6FA;
	border:3px solid black;
	border-radius: 10px;
}

/* MODULES */

.bookmark-container {
  padding-bottom: 1.5em;
  border-bottom: 1px solid black;
}

.link-container {
	border-bottom: 1px solid #333333;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.link-container.bookmark-link-container {
	padding-bottom: 0;
}

.link-container.bookmark-link-container > h2 {
	font-size:1.25em;
	margin-bottom:0.25em;
}

.tag-list {
	list-style-type: none;
	margin-left:0;
	padding:0;
  margin:0;
}

.tag-list > li {
	display:inline;
	padding-right:10px;
}
