body {
	font-size:18px;
}

.footer {
	height:30px;
	font-size: 0.5em;
}

.footer-container {
	width:100%;
	background-color:rgba(171, 189, 191, 0.5);
	border-radius: 0;
	height:50px;
	font-size: 20px;
}

.footer-container:hover {
	background-color:rgba(171, 189, 191, 0.5);;
}

.item-middle {
	margin-top:0;
}

.site-title {
	margin-top:0;
	font-size: 1em;
	color:#903;
}

.rich-text .right, .rich-text .left {
	width:100%;

}
