{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-bookmarkpage{% endblock %}

{% block additional_meta %}
  <link rel="canonical" href="/{{ self.slug }}" />
{% endblock %}

{% block content %}
  <h1 class='article-title'>{{ self.title }}</h1>
  <!-- <h3>Tags</h3> -->
  <div class='bookmark-container'>
  {% if request_tag %}
    <p>Selected tag: {{ request_tag }} - <a href='{{ self.url }}'>x</a></p>
  {% else %}

    <!-- <ul class='bookmarks tag-list'>
      {% for tag in tags %}<li><a class='bookmarks listing-links' href='{{ self.url }}?tag={{tag}}'>{{ tag }}</a></li>{% endfor %}
    </ul> -->
    <form method="get">
      <select onchange="if(this.value != 0) { window.location.href='{{ self.url }}?tag='+this.value }">
        <option value='0' disabled selected> -- Filter by tag -- </option>
        {% for tag in tags %}<option onselect="window.location.href='{{ self.url }}?tag={{ tag }}'" name="tag" value="{{ tag }}">{{ tag }}</option>{% endfor %}
      </select>
    </form>
  {% endif %}
  </div>
  {% for bookmark in bookmarks %}
  <div class='link-container bookmark-link-container'>
    <h2><a class='bookmarks listing-links'  href='{{ bookmark.url}}'>{{ bookmark.title }}</a></h2>
    {% if bookmark.notes %}{{ bookmark.notes | richtext }}{% endif %}
  </div>
  {% endfor %}
{% endblock %}
