{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-bookmarkpage{% endblock %}

{% block content %}
<article class='content-container'>
  <h1 class='blog-title'>{{ page.title }}</h1>
  <h3>Tags</h3>
  {% if request_tag %}
    <p>Selected tag: {{ request_tag }} - <a href='{{ page.url }}'>x</a></p>
  {% else %}
    <ul class='tag_list'>
      {% for tag in tags %}<li><a class='listing-links' href='{{ page.url }}?tag={{tag}}'>{{ tag }}</a></li>{% endfor %}
    </ul>
    {% endif %}
    <hr />
    {% for bookmark in bookmarks %}
     <h2><a class='listing-links'  href='{{ bookmark.url}}'>{{ bookmark.title }}</a></h2>
     <p>{{ bookmark.notes | richtext }}</p>

    {% endfor %}
</article>
{% endblock %}
