{% load static wagtailcore_tags wagtailimages_tags static %}
<section class='footer'>
	<div id='footer-container' class='footer-container'>
		<div class='item'>
			{% if self.url != '/' %}
			<a href='{% if previous_blog == '/' %}/{% else %} {% pageurl previous_blog.first %} {% endif %}'>
			<i class="nav-arrow fa fa-arrow-left"></i>
			</a>
			{% endif %}
		</div>
		<div class='item item-middle'>
			<h3 class='site-title'><a href='/'>chrxr.com</a></h3>
		</div>
		<div class='item'>
			{% if self.url != '/' %}
			<a href='{% if next_blog == '/' %}/{% else %} {% pageurl next_blog.first %} {% endif %}'>
			<i class="nav-arrow fa fa-arrow-right"></i>
			</a>
			{% endif %}
		</div>
	</div>
</section>