<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": {% if self.url == '/' %}"Blog"{% else %}"blogPost"{% endif %},
  "headline": "{{ self.title }}",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"{{ self.full_url }}"
  },
  "author": {
    "@type": "Person",
    "name": "Chris Rogers",
  },
  {% if self.date %}"datePublished": "{{ self.date|date:"c" }}",{% endif %}
  {% if self.search_description %}"description": "{{ self.search_description }}",{% endif %}
  "inLanguage": "en-GB",
}
</script>
